body{
    background-color: #f5f5f5;
}
nav{
    border-width: 2px;
    border-color: #000;
    border-style: ridge;
    padding-top: 10px;
    padding: 10px;
    background-color: #fff;
    margin-top: 0px;
    margin-bottom: 10px;
}
div{
    margin: 0 auto; width: 50px; height: 50px; border: 2px solid brown; outline: 2px green;
    outline-style: dashed; cursor: cell;
}